<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/pzavolinsky/bauxite.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
source ~/.rvm/scripts/rvm

# Remove the following line if you have a &apos;test/suite.bxt&apos; file in your repo 
(cd &quot;$WORKSPACE/test&quot;; rm suite.bxt; ls -1 *.bxt | sed -e &apos;s/^/test /&apos; &gt; &quot;$WORKSPACE/test/suite.bxt&quot;;)

rm -rf &quot;$WORKSPACE/test-results&quot;
bauxite -t 60 -o 240 --jenkins &quot;$WORKSPACE/test-results&quot; \
        &quot;$WORKSPACE/test/suite.bxt&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.12">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.AlwaysRun" plugin="run-condition@1.0"/>
          <publisher class="hudson.tasks.ArtifactArchiver">
            <artifacts>test-results/**/*</artifacts>
            <latestOnly>false</latestOnly>
            <allowEmptyArchive>true</allowEmptyArchive>
          </publisher>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Run" plugin="run-condition@1.0"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
    <hudson.plugins.plot.PlotPublisher plugin="plot@1.5">
      <plots>
        <hudson.plugins.plot.Plot>
          <title>Number of tests</title>
          <yaxis>Number of tests</yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>test-results/summary.csv</file>
              <label></label>
              <fileType>csv</fileType>
              <strExclusionSet>
                <string>OK</string>
                <string>Failed</string>
                <string>Total</string>
              </strExclusionSet>
              <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
              <exclusionValues>Total,OK,Failed</exclusionValues>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>Test</group>
          <numBuilds>100</numBuilds>
          <csvFileName>1620406039.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>Test Execution Time</title>
          <yaxis>Test time (s)</yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>test-results/summary.csv</file>
              <label></label>
              <fileType>csv</fileType>
              <strExclusionSet>
                <string>Time</string>
              </strExclusionSet>
              <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
              <exclusionValues>Time</exclusionValues>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>Test</group>
          <numBuilds>100</numBuilds>
          <csvFileName>336296054.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
  </publishers>
  <buildWrappers/>
</project>